.app-bar{
	background-color: rgb(247, 247, 247);
	color: rgb(51, 51, 51);
}

.app-bar.primary{
	background-color: rgb(153, 153, 153);
	color: rgb(255, 255, 255);
}

.app-bar a{
	color: inherit;
}

.app-bar .nav-justified li{
	width: 1%;
	display: table-cell;
}

.app-bar .nav-justified li a{
	border: none !important;
	border-radius: 0 !important;
}

.app-bar .nav-justified li.active a,
.app-bar .nav-justified li a:active,
.app-bar .nav-justified li a:focus{
	background-color: rgb(247, 247, 247);
	color: rgb(255, 153, 0);
}

.app-bar .nav-justified li:not(.active) a:hover{
	background-color: rgb(196, 196, 196);
	color: rgb(51, 51, 51);
}

.app-bar .select2{
	margin: 6px;
	width: 100%;
	max-width: 250px;
	border-radius: 0;
}

.app-bar .date-select{
	display: inline-block;
	width: 300px;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	border: 1px solid rgb(170, 170, 170);
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	box-sizing: border-box;
}

.app-bar .date-select a.arrow{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	text-align: center;
	color: rgb(136, 136, 136);
}

.app-bar .date-select span.value{
	display: block;
	width: 258px;
	float: left;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.period-container{
	margin-top: 6px;
}